node_modules
vendor
.git
Dockerfile
.dockerignore
.gitignore
.env
npm-debug.log
yarn-error.log
storage/logs
storage/framework/sessions
storage/framework/views
storage/framework/cache
.vscode
.idea
docker-compose.yml
nginx/
scripts/
